<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>I'm in the AppComponent!</h3>
            <hr>
            <div class="col-xs-12">
                <ol>
                  <li>Add abutton which says 'Display Details'</li>
                  <li>Add a paragraph with any content of your choice ('Secret Password = tuna')</li>
                  <li>Toggle the displaying of that paragraph with the button created in the first example</li>
                  <li>Log all button clicks in an array and output that array below the secret paragraph (maybe Log 
                    a timestamp or simple a incrementing number)</li>
                  <li>Starting at the 5th log item, give all future log item a blue background (via ngStyle) and white
                    color(ngClass)
                  </li>
                </ol>
                <button 
                       class="btn btn=primary"
                       (click) ="onToggleDisplay()">Display Details</button>
                <p *ngIf="showSecret">Well my Password is maje</p>
                <div 
                *ngFor="let logItem of log"
                [ngStyle]="{backgroundColor: logItem>= 5 ? 'blue':'transparent'}"
                [ngClass]="{'white-text':logItem>=5}"
                >
                  {{ logItem }}
                </div>
            </div>
        </div>
    </div>
</div>

